DB_URL=jdbc:mysql://database-host:3306/database-name?sslmode=require
DB_USERNAME=database-username
DB_PASSWORD=database-password
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-google-app-password
MAIL_DEBUG=false
